<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Overview</h2>
                <hr class="light">
                <p class="text-faded">1STC at Fordham University's Gabelli School of Business brings together leaders from finance, technology, and academia to examine how innovation is reshaping global markets.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
